.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #e0f7fa, #00ffff, #ffffff);
    padding: 80px 0;
    min-height: 100vh;
}

.title {
    color: #003366;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 30px;
}

.search-bar {
    height: 40px;
    width: 60%;
    font-size: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}

.search-bar:focus {
    outline: none;
}

.hymn-list {
    list-style: none;
    width: 60%;
    padding: 0;
    margin: 0;
}

.hymn-item {
    color: #003366;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hymn-item:hover {
  transform: scale(1.2);
}

.hymn-link {
    text-decoration: none;
}

.lyrics {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;

  font-size: 20px;
  line-height: 25px;
  text-align: center;

  white-space: pre-line;
}
